node_modules
*.log
Dockerfile
.dockerignore
.git
*.pyc
__pycache__/
# ignore file in _generated, but not the folder itself. Because this path is required for font caching.
src/_data/_generated/*
src/_data/css
src/_data/docker
src/_data/original-fonts
.env