# ===== App basic info =====
BULLETIN=官網公告訊息
PORT=3000
BASE_URL=http://localhost:${PORT}
THREADS=2
STATIC_FONT_THREADS=1
FORCE_MIN=false
REGEN_STATIC=false
REGEN_CSS=true
FONT_CHECK=false
SYNC_WITH_MINIO=false
NODE_ENV=production
ADMIN_UPLOAD_MAX_BYTES=209715200
ADMIN_SESSION_SECRET=
ADMIN_BOOTSTRAP_USER_ID=
ADMIN_BOOTSTRAP_PASSWORD=
# docker bind mounts path
EMFONT_ORIGINAL_FONTS=./src/_data/original-fonts
EMFONT_GENERATED_FONTS=./src/_data/_generated
NEED_EXAMPLE_FONTS=true

# ===== PostgreSQL =====
POSTGRES_HOST=postgres
POSTGRES_DB=emfont_dev
POSTGRES_PORT=5432
POSTGRES_USER=emfont
POSTGRES_PASSWORD=emf0nt's_E_is_lowercase!!

# PostgreSQL connect string
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# ===== Redis  =====
REDIS_HOST=redis
REDIS_PORT=6379
# REDIS connect string
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

# ===== MinIO =====
MINIO_BUCKET=emfont
MINIO_CONSOLE_PORT=9001
MINIO_PORT=9000
MINIO_HOST=minio
MINIO_ENDPOINT=http://${MINIO_HOST}:${MINIO_PORT}

MINIO_USERNAME=minio
MINIO_PASSWORD=emf0nt's_E_is_lowercase!!

# MinIO server 用的 root 變數
MINIO_ROOT_USER=${MINIO_USERNAME}
MINIO_ROOT_PASSWORD=${MINIO_PASSWORD}
MINIO_redirect=false

# R2 (Cloudflare) - Optional, only needed if you want to use R2 for font storage
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUB_URL_BASE=
