BULLETIN=官網公告訊息
DATABASE_URL=postgresql://root:pwd@postgresql.com:port/database
BASE_URL=https://example.com
JWT_SECRET=your_secret_key
PORT=3000

GITHUB_CLIENT_ID=ABCDEFGHIJKLMNOPQRSTUVWXYZ
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_REDIRECT_URI=http://localhost:3000/callback

R2_ACCESS_KEY_ID=ABCDEFGHIJKLMNOPQRSTUVWXYZ
R2_SECRET_ACCESS_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ
R2_BUCKET_NAME=R2_BUCKET_NAME
R2_ENDPOINT=https://account-id.r2.cloudflarestorage.com
R2_PUB_URL_BASE=https://pub-account-id.r2.dev

MINIO_BUCKET=zeabur
MINIO_USERNAME=minio
MINIO_ENDPOINT=minio.com
MINIO_PASSWORD=pwd

THREADS=4

FORCE_MIN=true
SKIP_REGEN=true # true : don't re generate static when startup