# ===== App basic info =====
BULLETIN=官網公告訊息
BASE_URL=https://font.emtech.cc
PORT=3000
THREADS=-2
FORCE_MIN=false
REGEN_STATIC=false
REGEN_CSS=true
FONT_CHECK=false
DOWNLOAD_MINIO=false
LOCAL_TEST=false
# docker bind mounts path
EMFONT_ORIGINAL_FONTS=/home/emfont/src/_data/original-fonts
EMFONT_GENERATED_FONTS=/home/emfont/src/_data/_generated

# ===== PostgreSQL =====
POSTGRES_USER=emfont
POSTGRES_PASSWORD=emfont
POSTGRES_DB=emfont_dev
POSTGRES_PORT=5432

# PostgreSQL connect string
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

# ===== Redis  =====
REDIS_PORT=6379
# # REDIS connect string
REDIS_URL=redis://localhost:${REDIS_PORT}

# ===== MinIO =====
MINIO_BUCKET=emfont
MINIO_CONSOLE_PORT=9001
MINIO_PORT=9000
MINIO_ENDPOINT=http://localhost:${MINIO_PORT}

MINIO_USERNAME=minio
MINIO_PASSWORD=minio123456

# MinIO server 用的 root 變數
MINIO_ROOT_USER=${MINIO_USERNAME}
MINIO_ROOT_PASSWORD=${MINIO_PASSWORD}




# wait, wtf is it?
ZBPACK_BUILD_COMMAND=apt-get update && apt-get install -y fontforge python3-fontforge